.vscode/
build/
oop_project
.qmake.stash
Makefile
.DS_Store

model/filtri.txt
model/costruttori.txt

view/icons/*/
saves/autosave.json

relazione/

saves/json/test_completo.json
saves/xml/test_completo.xml

error_log.txt